.nav_container {
  margin: 0 5px; }

.btn_purple {
  /* base */
  width: 270px;
  height: 60px;
  color: white;
  background: #6347FB;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 100px; }

.grey_background {
  position: absolute; }

.purple_background {
  position: absolute;
  transform: translateX(30px); }
